

.gameboard-enter {
  opacity: 0.01;
  width: 0px;
}

.gameboard-enter.gameboard-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.gameboard-exit {
  opacity: 1;
  width: 100px;
}

.gameboard-exit.gameboard-exit-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}